# Analyze data

# 1. Imports

## 1.1 Packages

In [1]:
import numpy as np
import pandas as pd

import plotly.express as px

## 1.2 Options

## 1.3 Dataset

In [4]:
df_train = pd.read_parquet("../data/02_intermediate/df_train_preprocessed.parquet")

# 2. Prepare data

In [7]:
df_train.sample(5)

,id,date,store_nbr,family,sales,onpromotion,transactions,city,state,type_x,cluster,dcoilwtico,type_y,locale,locale_name,description,transferred
1974584,1947854,2016-01-02,12,PREPARED FOODS,43.00000,0,NaN,Latacunga,Cotopaxi,C,15,NaN,None,None,None,None,None
799404,790494,2014-03-21,39,GROCERY I,2458.00000,0,1263.0,Cuenca,Azuay,B,6,99.97,None,None,None,None,None
560294,553166,2013-11-07,3,LAWN AND GARDEN,2.00000,0,2792.0,Quito,Pichincha,D,8,94.25,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
297688,295906,2013-06-16,11,POULTRY,476.57098,0,2830.0,Cayambe,Pichincha,B,6,NaN,None,None,None,None,None
2674168,2627836,2017-01-18,41,GROCERY II,18.00000,0,1089.0,Machala,El Oro,D,4,51.12,None,None,None,None,None