# Models baseline

# 1. Imports

## 1.1 Packages

In [1]:
import numpy as np
import pandas as pd


import matplotlib.pyplot as plt

from store_sales.pipelines.model_training.nodes import simple_moving_average, exponential_moving_average

## 1.2 Options

In [2]:
lags = [20, 30, 45, 60, 90, 120, 365, 730]
alphas = [0.95, 0.9, 0.8, 0.7, 0.5]

## 1.3 Dataset

In [3]:
df_train = pd.read_parquet("../data/04_feature/df_train_feature_engineered.parquet")

df_test = pd.read_parquet("../data/04_feature/df_test_feature_engineered.parquet")

# 2. Simple moving average

In [4]:
df_train.sample(2)

,id,date,store_nbr,family,sales,onpromotion,transactions,city,state,type,...,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,season,holiday_type,is_workday,is_train,is_validation
551891,544763,2013-11-02,43,SEAFOOD,1.0,0,1385.0,Esmeraldas,Esmeraldas,E,...,False,False,False,False,False,3,Holiday_National,1,1,0
2355086,2312677,2016-07-24,49,BOOKS,0.0,0,3057.0,Quito,Pichincha,A,...,False,False,False,False,False,2,Additional_Local,1,1,0